In [188]:
import os
import pandas as pd
import csv
os.chdir(r'C:\Users\alber\OneDrive\Desktop\IronHAck\PANDAS\LABS\lab-customer-analysis-round-2\files_for_lab\csv_files')
#

In [189]:
dataset = pd.read_csv('marketing_customer_analysis.csv')

### Show the dataframe shape

In [190]:
dataset.shape

(10910, 26)

###  Standardize header names

In [172]:
dataset.drop('Unnamed: 0', axis = 1, inplace = True)
#Delete the 'Unnamed'column

dataset = dataset.rename(columns = {'EmploymentStatus' : 'Employment Status'})
#Change the name of the column 'Employment Status'

### Which columns are numerical?

In [173]:
dataset.select_dtypes(exclude=['object']).columns.tolist()

['Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Months Since Last Claim',
 'Months Since Policy Inception',
 'Number of Open Complaints',
 'Number of Policies',
 'Total Claim Amount']

### Which columns are categorical?

In [192]:
dataset.select_dtypes(include=['object']).columns.tolist()

['Customer',
 'State',
 'Response',
 'Coverage',
 'Education',
 'Effective To Date',
 'EmploymentStatus',
 'Gender',
 'Location Code',
 'Marital Status',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Vehicle Class',
 'Vehicle Size',
 'Vehicle Type']

### Check and deal with NaN values.

In [191]:
dataset.isna().sum()

Unnamed: 0                    0
Customer                      0
State                       631
Customer Lifetime Value       0
Response                    631
                           ...
Sales Channel                 0
Total Claim Amount            0
Vehicle Class               622
Vehicle Size                622
Vehicle Type               5482
Length: 26, dtype: int64

In [176]:
dataset = dataset.dropna(subset=['State', 'Months Since Last Claim', 'Number of Open Complaints', 'Vehicle Class', 'Vehicle Size', 'Vehicle Type'])
dataset.isna().sum()

Customer                   0
State                      0
Customer Lifetime Value    0
Response                   0
Coverage                   0
                          ..
Sales Channel              0
Total Claim Amount         0
Vehicle Class              0
Vehicle Size               0
Vehicle Type               0
Length: 25, dtype: int64

### Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [178]:
dataset['Effective To Date']

2        2/10/11
3        1/11/11
10        1/2/11
13       1/26/11
16        2/7/11
          ...
10902    1/24/11
10903     1/7/11
10904    2/24/11
10906     1/6/11
10908    2/13/11
Name: Effective To Date, Length: 4543, dtype: object

In [179]:
dataset['Effective To Date'] = pd.to_datetime (dataset['Effective To Date'])

In [180]:
dataset['Month'] = pd.DatetimeIndex(dataset['Effective To Date']).month

In [187]:
mask = dataset['Month'] <= 3
dataset[mask]

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,Urban,Married,127,13.0,31,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,1
13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,Suburban,Single,69,25.0,25,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,1
16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,Urban,Married,66,26.0,10,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,28304,Suburban,Married,91,10.0,30,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,1
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,Suburban,Married,74,30.0,82,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,Suburban,Single,187,14.0,32,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2

### BONUS: Put all the previously mentioned data transformations into a function.